.blockbox{
    position: absolute;
    left: 250px;
    top: 100px;
    width: 800px;
    height:500px;
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
}