.logo{
    position: absolute;
    left: 50px;
}
.home-title{
    font-size: 30px;
    font-weight: 600;
    color: #ffffff
}
.home-bottom{
    background: #ffffff;
}
.loginout{
    position: absolute;
    right: 10px;
      top: 0
}

.loginspan{
    font-weight: bolder;
}