.ant-tabs-nav-wrap {
    background: #F9F9F9
}

.ant-tabs-nav {
    .ant-tabs-tab-active {
        text-align: left;
        background: #fff;
    }
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
    padding: 8px 17px;
    text-align: left;

}

.nav {
    margin-top: 20px;
}

.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
    margin-top: 9px;
    width: 47% !important;
}

.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content.column-num-3 .am-grid-text {
    font-size: 12px;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: red !important;
    font-weight: 500;
}

.ant-tabs-ink-bar {
    background: red !important;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar {
    left: 1px;
   
}

